@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

* {
    font-family: 'Karla';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #e6eff6;
}

.container1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 630px;
    padding: 30px;
    background-color: white;
}

  .container2 {
    display: flex; 
  }

.container4 {
    max-width: 315px;
    padding: 30px 52px;
}

.container3 {
    
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 30px 52px;
}

.info {
    padding: 0 70px 10px 0;
    color: #adb1bc;

}

.color1 {
    background-color: #2bb3b1;
}

.color2 {
    background-color: #4abebd;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bfdf32;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;  
    box-shadow: 1px 6px 5px 3px #25a3a2;

}

button:hover {
    animation: Sign-up 1s;
  box-shadow: 0 0 0 2em transparent; 
}

@keyframes Sign-up {
    0% { box-shadow: 0 0 0 0 var(--hover); }
  }

.price {
    display: flex;
    gap: 7px;
    align-items: center;
}

.price2 {
    font-size: 25px;
    color: white;
}

.price3 {
    color: #7cdfdc;
}

.color-wht {
    color: white;
}



.tutorial2 {
    color: #7cdfdc;
}

h4 {
    color: #c2d176;
}

.clr {
    color: #3a9f97;
}

.box-sh {
    box-shadow: 0px 13px 10px 4px #cadbeb;
    border-radius: 10px;
    max-width: 630px;
    overflow: hidden;
}

.header-txt {
    font-size: 25px;
}

@media screen and (max-width:633px){
 
    .container2 {
        flex-direction: column;
    }
    .container1 {
        max-width: 315px;
    }

    .info {
        padding: 0;
    }

    .box-sh {
        max-width: 315px;
    }

    .header-txt {
        font-size: 20px;
    }
}